<div class="search-bar">
    <span class="material-symbols-rounded leading-icon">
        search
    </span>

    <img src="/images/logo.svg" width="97" height="24" alt="Musify logo" class="logo" data-logo>
    
    <form action="/search" method="post" class="search-form">
        <label for="search" class="sr-only">
            What do you want to listen to?
        </label>

        <input type="search" name="query" id="search" placeholder="What do you want to listen to?" value="<%= locals.query %>" class="search-field body-large" required data-search-field>
    </form>

    <% 
        // Extract image details with default values using JavaScript logic
        var image = locals.images.find(item => item.width === 64) || {};
        var url = image.url || '/images/avatar.png';
        var width = image.width || 30;
        var height = image.height || 30;
    %>

    <!-- <img src="<%= url %>" width="<%= width %>" height="<%= height %>" alt="User Avatar" class="avatar" data-avatar> -->

    <div class="menu-wrapper" data-menu-wrappper>
        <button class="icon-btn" aria-label="My profile" data-ripple data-menu-toggler>
            <img src="<%= url %>" width="<%= width %>" height="<%= height %>" alt="User Avatar" class="avatar" data-avatar>

            <div class="state-layer"></div>
        </button>

        <%- include('./menu') %>
    </div>

    <%- include('./icon_btn', {
        variant: 'clear',
        icon: 'close',
        dataAttr: 'data-search-clear'
    }) %>
</div>
